body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 25px;
}

header{
	background-color: cornflowerblue;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 45px;

}

h1,h2,h3{
	font-family: 'Exo', sans-serif;
	text-align: center;
}

/*the h1 color element that works is in the html file*/
header h1{
	color: ivory;
	font-size: 35px;
}

h2,h3{
	color: cornflowerblue;
}

h2{
	font-size: 30px;
}

h3{
	font-size: 25px;
}

header img{
	border-radius: 160px;
    width: 300px;
    border: 10px solid #c0bfc7;
}

main{
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px;
}

main img{
	max-width: 100%
}

p{
	text-align: center;
}

a{
	color:black;
}

a:hover{
	text-decoration: underline;
	color: cornflowerblue;
	font-style: italic; 
}

footer{
	background-color: cornflowerblue;
	color: ivory;
	text-align: center;
	padding: 10px;
}

footer p{
	margin: 0;
}

footer a{
	color: ivory;

}

footer a:hover{
	background-color: transparent;
	color: ivory;
	opacity: .5;
	font-style: normal;
	text-decoration: none;

}

span:hover{
	background-color: transparent;
	color: ivory;
	text-decoration: none;
}

/*ploop*/